* {
    box-sizing: border-box;
}

main section {
    padding: 1em;
}

#form_section {
    width: 40%;
}

#right_section {
    width: 60%;
}

.card {
    margin-bottom: 1em;
}

@media (max-width: 690px){
    .d-flex{
        flex-direction: column;
        align-items: center;
    }
    #form_section, #right_section {
    width: 100%;
    }

}